<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{title}} Service
  </h1>
  <h2>Choose the car to be rented:</h2>
  <ul>
      <li *ngFor="let car of cars"
        [class.selected]="car === selectedCar"
        (click)="onSelect(car)">
        <span>{{car.id}}</span> {{car.plateNumber}}
      </li>
  </ul>
  
  <h2>Selected car:</h2>
  <car-detail [car]="selectedCar"></car-detail>
  
  <div *ngIf="selectedCar">
  {{selectedCar.plateNumber}}
  </div>
  
  </div>

