<h2>My Cars</h2>
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>
<ul class="cars">
  <li *ngFor="let car of cars" (click)="onSelect(car)"
      [class.selected]="car === selectedCar">
    <span class="badge">{{car.id}}</span>
    <span>{{car.plateNumber}}</span>
    <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedCar">
  <h2>
    {{selectedCar.plateNumber | uppercase}} is my car
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
