<h2>Select your car:</h2>
<!-- <div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div> -->
<ul class="cars">
  <li *ngFor="let car of cars" (click)="onSelect(car)"
      [class.selected]="car === selectedCar">
    {{car.model}}: {{car.plateNumber}}
  </li>
</ul>
<div *ngIf="selectedCar">
  <h2>
    {{selectedCar.plateNumber | uppercase}} is my car
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
